

.fondo{
    background-color: bisque;
    width: 40%;
    height: 150px;
    margin-left: 5%;
}

.fondo_div {
    width: 20%;
    height: 20%;
    overflow: hidden;
    margin-left: 5%;
    background-color: bisque;
    margin-left: 5%;
    padding-bottom: 1%;
    border-radius: 20px;
  }


  .imagen{
    width:85% ;
    height:80% ;
    margin-top: 2%;
  }
  .fondo_div:hover{
    transform: scale(1.5);
  }

  .box{
    width: 100%;
  min-width: 300px;
  max-width: 800px;
  height: 200px;
  word-wrap: break-word;
  overflow: auto;
 

  }

  .errores
  {
    display: none;
    position: absolute;
    margin-top: -6%;
    margin-left: 40%;
    background-color: bisque;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8%;
   
  }

  

  .btn-venta{
    background-color:bisque;
    color: black; 
    border: none; 
  }


  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }

  .hileras{
    width: 50px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    background-color: rgb(223, 142, 43);
    color: black;
    text-align: center;
  }

  .footer #link1{
    padding-top: 5px;
  }

